* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* color: #66bfbf; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #66bfbf;
  /* font-size: 5rem; */
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
}

p {
  line-height: 2;
}

ul {
  list-style: none;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 75px auto;
}

a {
  color: #11999e;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #333;
}

/* Utility Classes Start Here */
.container {
  /* border: 5px solid aqua; */
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 30px;
}
.bg-primary {
  background: #e5f9f5;
  color: #333;
}
.heads-primary {
  font-size: 3rem;
}
.name {
  font-size: 5rem;
  padding-bottom: 20px;
}
.subtitle {
  font-size: 2rem;
}
/* Utility Classes Ends Here*/

/* Navbar Starts Here */
.navbar {
  background: #e4f9f5;
  /* color: #11999e; */
  height: 70px;
}
.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-left: 20px;
}
/* Navbar Ends Here*/

/* Top Container Stuff Starts Here */
.top-container {
  /* min-height: */
  background-color: #e4f9f5;
  padding-top: 50px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 30px;
  animation: wind 90s linear infinite reverse;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 200px;
  animation: winds 90s linear infinite reverse;
}
/* Top Container Stuff Ends Here */

/* Introduction Starts Here */
.young-man {
  width: 40%;
}

#introduction {
  height: 100%;
}
.introduction p {
  font-size: 1.1rem;
}
.introduction .testimonial {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

.introduction .testimonial {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  text-align: left;
  margin: auto;
}

.introduction .testimonial img {
  width: 125px;
  height: 125px;
  margin-right: 20px;
}

/* Introduction Ends Here */

/* Skills Start Here */
.my-skills {
  background: #e2f9f5;
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 25px;
  padding: 20px;
  line-height: 1.5;
  text-align: left;
}
.my-skills img {
  width: 170px;
  margin-right: 25px;
}
.my-skills-2 {
  background: #e2f9f5;
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 25px;
  align-items: center;
  padding: 20px;
  line-height: 1.5;
  text-align: left;
}
.my-skills-2 img {
  width: 200px;
  margin-left: 20px;
}
.my-skills h2 {
  font-size: 3rem;
}
/* Skills End Here */

/* Contact Me Starts Here */
.contact-me {
  height: 370px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

/* Contact Me Ends Here */

/* Footer Starts Here */
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.footer-link {
  font-size: 18px;
  font-weight: bold;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #960000;
  border-radius: 10px;
  padding: 12px 22px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin: 20px 30px;
}

/* Footer Ends Here */
