/* Main Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: rgb(249, 249, 249);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  /* color: #66bfbf; */
  /* font-size: 5rem; */
  margin: 50px auto 0 auto;
}

h2 {
  /* color: #66bfbf; */
  /* font-weight: bold; */
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
}

p {
  line-height: 2;
}

ul {
  list-style: none;
}

hr {
  border: dotted #11999e 6px;
  border-bottom: none;
  width: 4%;
  margin: 75px auto;
}

a {
  /* color: #11999e; */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #333;
}
/* Main Styling Ends */

/* Utility Classes Start Here */
.container {
  /* border: 5px solid aqua; */
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 30px;
}
.bg-primary {
  background: #e4f9f5;
  color: #333;
}
.name {
  color: #66bfbf;
  font-size: 5rem;
  padding-bottom: 20px;
}
.subtitle {
  color: #66bfbf;
  font-size: 2rem;
  font-weight: bolder;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #960000;
  border-radius: 10px;
  padding: 12px 22px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin: 20px 30px;
}
/* Utility Classes Ends Here*/

/* Navbar Starts Here */
.navbar {
  background: #e4f9f5;
  height: 70px;
}
.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-left: 20px;
  font-size: 18px;
}
.navbar ul li a {
  color: black;
}
/* Navbar Ends Here*/

/* Top Container Stuff Starts Here */
.top-container {
  background-color: #e4f9f5;
  padding-top: 50px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 30px;
  animation: wind 90s linear infinite reverse;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 200px;
  animation: winds 90s linear infinite reverse;
}
/* Top Container Stuff Ends Here */

/* Introduction Starts Here */
.introduction {
  height: 100%;
  /* background: #e4f9f5; */
}
.introduction .about-me {
  color: #66bfbf;
  font-size: 3.5rem;
  margin: 25px;
}
.testimonial {
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  margin: 25px;
}
.testimonial p {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px;
}
.testimonial .kprc {
  margin: 12px;
  width: 150px;
  border-radius: 10px;
}
.testimonial .html {
  margin: 12px;
  width: 175px;
}
.testimonial .camera {
  margin: 12px;
  width: 175px;
  transform: scaleX(-1);
}
.testimonial .btn {
  margin: 40px auto 60px;
}
/* Introduction Ends Here */

/* Contact Me Starts Here */
.contact-me {
  height: 100%;
}
.contact-me h2 {
  color: #66bfbf;
  font-size: 3.5rem;
}
.contact-message {
  background: #e2f9f5;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  margin: 25px;
  align-items: center;
  padding: 20px;
  line-height: 1.5;
  text-align: left;
  /* margin: 40px auto 60px; */
}
.contact-message img {
  width: 180px;
}
.contact-message p {
  font-size: 1rem;
  font-weight: bold;
}
.contact-me .btn {
  margin: 40px auto 60px;
}

/* Contact Me Ends Here */

/* About Page Starts Here */

/* About Section Starts Here */
#about {
  height: 100%;
  padding: 40px 0;
  text-align: left;
  /* color: #ababab; */
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* The flex-wrap CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines. If wrapping is allowed, it sets the direction that lines are stacked. */
}
.about-col-1 {
  background: #e2f9f5;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-basis: 35%;
  /* this makes the column 35% wide */
}
.about-col-1 img {
  padding: 90px 0;
  width: 100%;
}
.about-col-2 {
  background: #e2f9f5;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-basis: 60%;
  padding: 0 30px;
  /* this makes the column 60% */
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  margin: 20px auto 0 auto;
}
#about p {
  font-weight: bold;
}
#about span {
  font-weight: bold;
}
#about ul {
  font-weight: bold;
}
.tab-titles {
  display: flex;
  /* flex-direction: column; */
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #e6676b;
  font-size: 14px;
}
.tab-contents {
  display: none;
  /* this hides all the content */
}
.tab-contents.active-tab {
  display: block;
  /* this makes the content visible on the active-tab */
}

/* New What I do STarts Here */
.grid-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.grid-header img {
  width: 100%;
  /* box-shadow: */
}
/* New What I do ends here */

/* What I Do STarts HEre*/
/* .images img:hover {
  opacity: 0.7;
}
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-header h2 {
  font-size: 3rem;
}
.section-header h4 {
  font-size: 2rem;
  margin: 20px;
}
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.flex-grid .column {
  flex: 25%;
  max-width: 75%;
  padding: 0 4px;
}
.row img {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
/* What I do Ends Here*/

/* Director Track Buttons Start Here */
.buttons {
  height: 100%;
  padding-top: 100px;
  /* border: 3px solid aqua; */
}
.director-tracks {
  padding-top: 50px;
  padding-bottom: 100px;
}
.director-tracks h4 {
  font-size: 2rem;
  /* margin: 30px; */
}
.director-tracks h2 {
  font-size: 2.5rem;
  /* margin: 30px; */
}
.director-tracks h4 {
  font-size: 2rem;
  /* margin: 30px; */
}

.d-button {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  margin: 30px;
  width: 350px;
  background: #ebeef1;
  cursor: pointer;
  border: none;
  color: #00a037;
  border-radius: 50px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}
.d-button.reject {
  color: #ed0000;
  box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}
.d-button.reject:hover {
  color: black;
}
.d-button i {
  margin-right: 20px;
}
/* Director Track Buttons End Here*/
/* About Page Ends Here */

/* Footer Starts Here */
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.footer-link {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  color: white;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
/* Footer Ends Here */
